body {
  background-image: url("../photos/background.jpg");
}

h1 {
  color: cornsilk;
  font-size: 3.5em;
}

h2 {
  transition: 0.4s;
  color: cornsilk;
  font-size: 1.5em;
}

h3 {
  color: cornsilk;
  font-size: 3.5em;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.food-menu,
.drinks-menu {
  padding: 0px 30px 0px 30px;
  background-color: #004526;
  border-radius: 4px;
  margin: 2rem;
  height: max-content;
  width:33%;
}

.menu-dropdown {
  width: 100%;
  height: 25px;
  transition: 0.5s;
}

.menu-option {
  position: relative;
  background-color: #004526;
  transition: 0.4s;
}

.menu-option::before {
  content: "ˇ";
  font-size: xx-large;
  position: absolute;
  right: 0px;
  top: 2px;
  color: cornsilk;
}

.menu-dropdown.active {
  height: auto;
  transition: 0.5s;
}

.menu-option:hover {
  cursor: pointer;
}

.menu-element {
  background-color: cornsilk;
  transition: 0.5s;
  border-radius: 2px;
  display: flex;
  margin: 1rem 0;
  padding: 5px;
  font-size: 20px;
  font-family: Tahoma, sans-serif;
  color: #004526;
  width:100%;
}

.menu-element-picture {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.menu-element-picture-container{
  width:100%;
}

.menu-element-name {
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

.menu-element-description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.menu-element-price-and-info {
  display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.headline {
  transition: 0.4s;
  color: cornsilk;
  font-size: 1.5em;
}

.top-headline {
  color: cornsilk;
  font-size: 3.5em;
  font-family: "Brush Script MT", cursive;
}

.top-headline:hover {
  color: cornsilk;
}
img{
  object-fit: contain;
}
.fa-expand{
  position:relative;
  left:75%;
  bottom:15%;
  background-color: black;
  color: white;
  opacity:0.6;
  padding: 3px;
  border-radius: 3px;
}
.menu-element-picture:hover,.fa-expand:hover{
  cursor: pointer;
}
.in-focus{
  position: fixed;
  top: 25%;
  left:25%;
  width:50%;
  height: 50%;
  z-index: 2;
}
.background-div{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
  background-color: black;
  opacity: 0.7;
  color:white;
}
.fa-circle-xmark{
  position: absolute;
  top:23%;
  left:75%;
}