body{
    background-color: cornsilk;
}
header, footer{
    background-color: #004526;
    color:cornsilk;
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{

    color: cornsilk;
    font-family: 'Brush Script MT', cursive;
    font-size:3.5em;
}
h2{
    color: cornsilk;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    color:cornsilk;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button, #langselect{
    background-color: cornsilk;
    color: #004526;
    cursor: pointer;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:0.9em;
    opacity: 0.75;
    transition: 0.3s;
}
button:hover, #langselect:hover{
    opacity: 1;
}
body{
    max-width: 99%;
    max-height: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header{
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
}

main{
    position: relative;
    top: 125px;
}
.food-menu{
position: absolute;
top:120px;
left: 25%;
padding:0px 30px 0px 30px;
background-color: #004526;
border-radius: 4px;
}


.drinks-menu{
position: absolute;
top:120px;
left: 65%;
padding:0px 30px 0px 30px;
background-color: #004526;
border-radius: 4px;
}
.menu-dropdown{
    background-color: grey;
    width:200px;
    height: 25px;
}
.menu-option{
    position: relative;
    width:200px;
    height: 25px;
    background-color: #004526;
}
.menu-option::before{
    content: "ˇ";
    font-size: x-large;
    position: absolute;
    right: 0px;
    top: 2px;
    color:cornsilk;
}